<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Jnerator</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://www.w3schools.com/lib/w3.js"></script>
</head>
<div class="container">
    <div class="alert alert-primary" >
        <h1>Jnerator</h1>
    </div>

    <form class="alert alert-dark" action="#" th:action="@{/}"
          th:object="${domain.templateOptionsList}" method="post" onchange="submit()">
        <div th:object="${domain.templateOptionsList}">
            <select class="form-control" id="templateOptions" name="templateOptions">
                <option value="">Select one template</option>
                <option th:each="template : ${domain.templateOptionsList}"
                        th:value="${template}"
                        th:selected="(${domain.templateSelected} == ${template})"
                        th:text="${template}"></option>
            </select>
        </div>
    </form>

    <div class="alert alert-success" role="alert">
        <div th:each="template : ${domain.templates}">
            <span th:text="${template}"></span>
        </div>
    </div>

    <form class="alert alert-dark" action="#" th:action="@{/}" th:object="${domain.field}" method="post">
        <div class="form-group" th:each="field: ${domain.field?.keyValues}">
            <span th:text="${field.key}">:</span>
            <input class="form-control" type="text" th:value="${field.value}" th:name="${field.key}"/>
        </div>

        <input class="btn btn-primary" type="submit" value="Generator"/>
        <input class="btn btn-secondary" type="reset" value="Reset"/>
    </form>

    <div class="alert alert-success" role="alert">
        <div th:each="a : ${domain.generateDocument}">
            <span th:text="${a}"></span>
        </div>
    </div>
</div>
</body>
</html>