<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Jnerator</title>

    <link href="/bootstrap/css/others/index-template.css" rel="stylesheet"/>
</head>
<body>

<div th:replace="fragments/header">&nbsp;</div>

<div class="container-fluid">

    <form class="alert alert-primary" action="#" th:action="@{/}"
            th:object="${domain.templateOptionsList}" method="post" onchange="submit()">
        <div th:object="${domain.templateOptionsList}">
            <select class="form-control form-control-sm" id="templateOptions" name="templateOptions">
                <option value="">Select one template</option>
                <option th:each="template : ${domain.templateOptionsList}"
                        th:value="${template}"
                        th:selected="(${domain.templateSelected} == ${template})"
                        th:text="${template}"></option>
            </select>
        </div>
    </form>

    <div class="row">
        <div class="col-sm-5">

            <div th:if="${domain.templatePath != null && !domain.templatePath.isEmpty()}">
                <form action="#" th:action="@{/generate}" th:object="${domain.field}"
                        method="post">
                    <div class="alert alert-primary">
                        <input class="btn btn-primary btn-sm" type="submit" value="Generator"/>
                        <input class="btn btn-secondary btn-sm" type="reset" value="Reset"/>
                        <a class="btn btn-dark float-right btn-sm" th:href="@{/download}">Download</a>
                    </div>

                    <div class="alert alert-primary">
                        <div class="form-group" th:each="field: ${domain.field?.keyValues}">

                            <div class="row">
                                <div class="col-sm-12">
                                    <span th:for="${field.key}" th:text="${field.title}">:</span>
                                    <input class="form-control form-control-sm"
                                            th:type="${field.type}" th:value="${field.value}" th:name="${field.key}"
                                            th:id="${field.key}" th:maxlength='${field.size}'
                                            th:placeholder="${field.help}" th:required="required"/>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="panel-group" th:if="${domain.templatePath != null && !domain.templatePath.isEmpty()}">
                <div class="panel panel-default alert alert-secondary">
                    <div class="panel-body">
                            <pre>
                               <div class="pre-custom">
                                   <div th:each="a : ${domain.generateDocument}" th:remove="tag" th:utext="${a}"></div>
                               </div>
                            </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>