<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Jnerator</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Jnerator</a>
    </div>
    <ul class="nav navbar-nav nav-right">
      <li><a href="/remove-template" class="pull-right">Delete Template</a></li>
      <li><a href="/" class="pull-right">Generate SQL</a></li>
      <li><a href="/template" class="pull-right">Upload Template</a></li>
    </ul>
  </div>
</nav>
<div class="container">

  <form class="alert alert-info" action="#" th:action="@{/}"
        th:object="${domain.templateOptionsList}" method="post" onchange="submit()">
    <div th:object="${domain.templateOptionsList}">
      <select class="form-control" id="templateOptions" name="templateOptions">
        <option value="">Select one template</option>
        <option th:each="template : ${domain.templateOptionsList}"
                th:value="${template}"
                th:selected="(${domain.templateSelected} == ${template})"
                th:text="${template}"></option>
      </select>
    </div>
  </form>

  <div id="accordion" class="panel-group"
       th:if="${domain.templatePath != null && !domain.templatePath.isEmpty()}">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <button type="button" class="btn btn-info" data-toggle="collapse" data-parent="#accordion"
                  data-target="#collapseTwo">View Generated
            Template
          </button>
          <a class="btn btn-primary pull-right text-white" th:href="@{/download}">Download</a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse in">
        <div class="panel-body">
          <div class="alert alert-success">
            <div th:each="a : ${domain.generateDocument}">
              <span th:text="${a}"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div th:if="${domain.templatePath != null && !domain.templatePath.isEmpty()}">
    <form class="alert alert-info" action="#" th:action="@{/}" th:object="${domain.field}"
          method="post">
      <div class="form-group" th:each="field: ${domain.field?.keyValues}">
        <span th:text="${field.key}">:</span>
        <input class="form-control" type="text" th:value="${field.value}" th:name="${field.key}"/>
      </div>

      <input class="btn btn-primary" type="submit" value="Generator"/>
      <input class="btn btn-warning" type="reset" value="Reset"/>
    </form>
  </div>

</div>
</body>
</html>